.App {
  text-align: center;
  /* background-image: url("roulette.png"); */
  /* background-color: olive; */
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
  margin-left: 10px;
}

.App-header {
  border-radius: 25px;
  background-color: rgba(255, 255, 255);
  height: fit-content;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.Game-section {
  border-radius: 25px;
  background-color: rgba(255, 255, 255);
  height: fit-content;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.App-info {
  border-radius: 25px;
  background-color: rgba(174, 194, 59, 0.712);
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: bold;
  float: center;
}

.Reward-matrix {
  border-radius: 25px;
  background-color: rgba(45, 199, 166, 0.712);
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: bold;
  float: center;
}

.App-about {
  height: fit-content;
  width: fit-content;
  border-radius: 25px;
  background-color: rgba(35, 76, 163, 0.356);
  height: fit-content;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: bold;
  margin-top: 10px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.App-table {
  background-color: rgba(236, 6, 75, 0.363);
  height: fit-content;
  width: fit-content;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: bold;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  float: center;
  text-align: center;
}

.Center {
  align-items: center;
}

.App-list {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.App-title {
  color: rgba(0, 0, 0);
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  font-family: monospace;
}

.App-title-metamask {
  color: rgba(0, 0, 0);
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  font-family: monospace;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-admin {
  border-radius: 25px;
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button-admin-enabled {
  border-radius: 25px;
  background-color: rgba(11, 202, 11, 0.849);
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button-player {
  border-radius: 25px;
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button-player-enabled {
  border-radius: 25px;
  background-color: rgba(11, 202, 11, 0.849);
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.Admin {
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: rgba(221, 18, 18, 0.856);
  border: 10px;
  color: white;
  padding: 30px 50px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-self: center;
}

.Player {
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: rgba(79, 18, 221, 0.856);
  border: 10px;
  margin-top: 10px;
  color: white;
  padding: 30px 50px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.GameState {
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: rgba(18, 82, 221, 0.856);
  border: 10px;
  margin-top: 10px;
  color: white;
  padding: 30px 50px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.PlayerInput {
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: rgba(160, 221, 18, 0.856);
  border: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.input {
  border-radius: 18px;
  background: rgb(0, 153, 107);
  padding: 20px;
  width: 250px;
  height: 15px;
  text-align: center;
  font-size: 22px;
  color: gold;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gold;
  opacity: 1; /* Firefox */
}

.bottomMargin {
  margin-bottom: 10px;
}
table {
  border-collapse: collapse;
  border: solid black 1px;
}

td,
th {
  border-left: solid black 1px;
  border-top: solid black 1px;
}

th {
  border-top: none;
}
